.html-style{
  background-color: rgba(0, 0, 0, 0.823);
}

.heroStyles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.buttonsBase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px; /* Ajusta el padding según sea necesario para el tamaño deseado */
  margin: 8px; /* Espacio entre botones */
  background-color: #007bff; /* Color de fondo */
  color: #fff; /* Color de texto */
  border: none; /* Quita el borde predeterminado */
  border-radius: 8px; /* Radio de borde */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  font-size: 16px; /* Tamaño de fuente */
  outline: none; /* Quita el borde de enfoque */
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
  margin-top: 45px;
  min-width: 250px;
  min-height: 55px;
  /* Ancho máximo para evitar que ocupen toda la pantalla */
  max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
}

.buttonsBase:hover {
  background-color: #0056b3; /* Color de fondo al pasar por encima */
}

.HeaderPosition{
  margin-left: 100px;
}

.message{
  color:white;
}

.buttonsBase[disabled] {
  background-color: #ccc; /* Cambia el color de fondo a gris */
  opacity: 0.7; /* Reduce la opacidad para indicar que está deshabilitado */
  cursor: not-allowed; /* Cambia el cursor a "no permitido" */
}